@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{

    <section class="flash justify-content-center align-items-center">
        <div class="alert alert-info alert-dismissible fade show w-100 text-center" role="alert">
            This website uses cookies to ensure you get the best experience on our website. <a href="https://dotnetfoundation.org/Privacy-Policy">Learn More</a>.
            <button type="button" class="accept-policy close" data-cookie-string="@cookieString" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </section>

    <script>
        (function () {
            var button = document.querySelector("button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
