@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
        <li>
            <a asp-controller="Profile" asp-action="Index">Hello @User.Identity.Name!</a> 
        </li>
        <li>
            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
}
else
{
        <li>
            <a asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
}
