@model UpdateMemberModel

@{
    ViewData["Title"] = "Edit - " + Model.DisplayName;
}

<h2>Edit</h2>
<h4>Update Member @Model.DisplayName</h4>

@if (Model.PhotoBytes != null)
{

    <img style="max-height:250px;max-width:250px;" height="@Model.PhotoHeight" width="@Model.PhotoWidth" src="data:@Model.PhotoType;base64,@Convert.ToBase64String(Model.PhotoBytes)" />
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GivenName" class="control-label"></label>
                <input asp-for="GivenName" class="form-control" />
                <span asp-validation-for="GivenName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUpload" class="control-label"></label>
                <input asp-for="PhotoUpload" class="form-control" accept="image/jpeg" />
                <span class="text-info">Might take a few seconds to appear after save</span>
                <span asp-validation-for="PhotoUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitHubId" class="control-label"></label>
                <input asp-for="GitHubId" class="form-control" />
                <span asp-validation-for="GitHubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TwitterId" class="control-label"></label>
                @@<input asp-for="TwitterId" class="form-control" />
                <span asp-validation-for="TwitterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogUrl" class="control-label"></label>
                <input asp-for="BlogUrl" class="form-control" />
                <span asp-validation-for="BlogUrl" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Expiration" class="control-label"></label>
                <input asp-for="Expiration" class="form-control form_datetime" readonly />
                <span asp-validation-for="Expiration" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" asp-action="Edit"  />
            </div>

            <div class="form-group">
                <label asp-for="SignInAddress" class="control-label"></label>
                <input asp-for="SignInAddress" class="form-control" />
                <span asp-validation-for="SignInAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change Sign In Address" class="btn" asp-action="ChangeMemberEmail" asp-route-id="@Model.Id" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Members</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
