
@{
    ViewData["Title"] = "Dues Opt-Out";
}

<div class="page-section_container container">

    <h1>Dues Opt-Out</h1>

    <p>We're glad to have you as a member! If you'd like to contribute in the future, you'll find a donation link on your profile page.</p>

    <p>Click <a asp-action="Index">here</a> to return to your profile.</p>

</div>
