@{
    ViewData["Title"] = "PayDues";
}

<h1>Member Dues</h1>

<p>
    We're asking voting members for $100 annual dues, but please don't let dues keep you from joining! If $100 dues are a problem for you,
    you can set a lower dues amount, down to $0. That applies to students, people in parts of the world where $100 is expensive, etc.
    You know your circumstances, and we trust you. Again, please don't let dues keep you from joining.
    Contact us (<a href="mailto:contact@dotnetfoundation.org">contact@dotnetfoundation.org</a>) if you have any question about this.
</p>

<p>So why are we asking for dues at all? For a few reasons:</p>

<ul>
    <li>We want you to value your membership. Personally, when I contribute $20 to a Kickstarter, I feel like I'm part of it. I check back on it and want it to be successful. This is a little like that - we don't want this to just be some random form you fill out on the internet because you're bored We want you to participate.</li>
    <li>The .NET Foundation is an independent organization, and independent funding is an important part of that. We've been running on donations from Microsoft for the past few years, which is both really cool and something people don't give Microsoft credit for. We hope they keep coming! But, for the .NET Foundation to really be sustainable, independent, impactful, and real, it needs independent support. We'll have corporate sponsorship, but voting member dues could be a significant part of that support as our member base grows.</li>
    <li>We want to use your money to support the things you care about - sustainable open source, your favorite open source .NET projects, your open source .NET community.</li>
</ul>

<p>
    While we are asking for $100 annually, you can set your own contribution amount.
</p>

<h2>Contribute via OpenCollective</h2>
<p>
    OpenCollective provides a transparent platform for funding open source projects. You can make separate donations there, including monthly
    contributions, and you can see how your money is being spent. Take a look at our <a href="https://opencollective.com/dotnetfdncollective">
        .NET Foundation profile on OpenCollective
    </a>.
</p>
<p>
    <a href="https://opencollective.com/dotnetfdncollective/contribute/Foundation%20Membership%20Dues?redirect=https://members.dotnetfoundation.org/profile/donationcomplete" target="_blank">
        <img src="https://opencollective.com/dotnetfdncollective/contribute/button@2x.png?color=blue" width=300 />
    </a>
</p>

<hr />
<h2>Contribute via PayPal</h2>

<p>If you'd prefer not to contribute via OpenCollective, you're welcome to contribute directly via PayPal.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="8JP6667H8ELKG" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>

<hr />
<h2>Opt-out</h2>

<p>
    If you're not able to contribute dues, we respect that and don't want to exclude you on financial grounds. You're welcome to opt-out,
    and if you're able to contribute in the future, you'll have donation links available on your member page.
</p>
<a asp-area="" asp-controller="Profile" asp-action="OptOut" class="site-button site-button--pink">Opt-Out</a>