
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul class="navbar-nav flex-grow-1">

    <li class="nav-item">
        <a asp-area="" asp-controller="Setup" asp-action="RegisterSchemaExtensions">RegisterSchemaExtensions</a>
    </li>

    

</ul>
