@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <environment names="Development">
        <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/home.css" asp-append-version="true">
        <meta name="google-site-verification" content="F9a3IwT00fpPIErVTvIIqBcf2NEScrDCczZi4g9sul4" />
    </environment>
}

<section id="home-hero">
    <div id="home-hero_container" class="container-fluid d-flex justify-content-center position-relative">
        <div id="home-hero_overlay" class="position-absolute"></div>
        <div id="home-hero_content" class="position-relative">
            <h2 id="home-hero_title">Independent. Innovative. And always open source.</h2>
            <p id="home-hero_copy" class="mx-auto">
                Welcome to the .NET Foundation membership portal!
            </p>
            <div id="home-hero_buttons" class="mx-auto d-flex justify-content-between">
                <a asp-area="" asp-controller="Profile" asp-action="Index" class="home-hero_button site-button site-button--pink">My Profile</a>
                <a href="https://dotnetfoundation.org/become-a-member" class="home-hero_button site-button site-button--pink">Apply for Membership</a>
                <a href="https://github.com/dotnet-foundation/membership/issues" class="home-hero_button site-button site-button--pink">Log an Issue</a>
            </div>
        </div>
    </div>
</section>
<div class="page-section_container container">
    <section class="page-section col-12 text-left">
        <div class="page-section col-12 text-left">
            <h2>
                The Benefits of Membership
            </h2>
            <p>
                The .NET ecosystem is constantly evolving and growing, and we’ve seen major changes in the last few years with more to come.
                If you are passionate about the .NET ecosystem, then you should consider becoming a member. The way we see it, there are two major
                reasons to become a member.
            </p>

            <h4>Opportunity to influence</h4>
            <p>
                As a member, you can partake in ongoing discussions, vote on the board of directors, directly help with one of the many action
                groups and more. By providing a forum, influential contacts, a passionate community, consolidated resources, funds, we provide a
                unified place where you can influence the .NET ecosystem in a variety of ways. We solve problems you care about, and we
                care about your opinion.
            </p>

            <h4>Stay up to date</h4>
            <p>
                By being where it happens, you get to hear the news first. Even if you decide to take on a more passive member role, you can
                still access the discussions and information, and stay up to date through reliable sources. The .NET Foundation is an independent
                organization, and we need you to maintain this independence. By involving people that are passionate about .NET, that have different
                backgrounds and work for diverse companies, and with independent funding, we can create a powerful organization that furthers
                sustainable open source, a diverse and open community, and that helps evolve this incredible ecosystem that we are very passionate about.
            </p>
        </div>
    </section>
</div>